.header  {
    width: 98%;
    height: auto;
    background-color: #333;
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.headerContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.headerMenu {
    color: #fff;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.headerContainer .logo {
    display: block;
    width: 200px;
    height: 58px;
}

.headerContainer .logo img {
    height: 100%;
    width: 100%;
}

.headerMenus {
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}

header.header nav ul {
    display: block;
    text-align: center;
    padding: 9px 0;
}

header.header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    text-transform: uppercase;
}
header.header nav ul li a {
    color: #fff;
    letter-spacing: 2.5px;
    position: relative;
}
