@font-face {
  font-family: 'jaapokki regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/jaapokki-regular.eot'); /* IE9 Compat Modes */
  src: local('jaapokki regula'), local('jaapokkiRegula'),
       url('/fonts/jaapokki-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/jaapokki-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/jaapokki-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/jaapokki-regular.svg') format('svg'); /* Legacy iOS */
}


body {
  font-family: 'jaapokki regular';
}


body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

